<%- include("../partials/layout-top") %>
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Thêm Người Dùng</h4>

        <% if (messages['error']){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Lỗi !</strong> <%= messages['error'] %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <% if (messages['success']){ %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Thành công !</strong> <%= messages['success'] %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <!-- Basic Layout & Basic with Icons -->
        <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
                <div class="card mb-4">
                    <!-- <div class="card-header d-flex align-items-center justify-content-between">
                      <h5 class="mb-0">Basic Layout</h5>
                      <small class="text-muted float-end">Default label</small>
                    </div> -->
                    <div class="card-body">
                        <form method="post" action="">
                            <div class="row mb-3">
                                <!-- Username -->
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Tài Khoản</label>
                                <div class="col-sm-10">
                                    <input type="text" name="username" class="form-control" id="basic-default-name"
                                           placeholder="admin">
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-password">Mật Khẩu</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control"
                                           id="basic-default-password" placeholder="********">
                                </div>
                            </div>
                            <!-- Email -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-email">Email</label>
                                <div class="col-sm-10">
                                    <div class="input-group input-group-merge">
                                        <input type="text" name="email" id="basic-default-email" class="form-control"
                                               placeholder="admin" aria-label="john.doe"
                                               aria-describedby="basic-default-email2">
                                        <span class="input-group-text" id="basic-default-email2">@example.com</span>
                                    </div>
                                    <!-- <div class="form-text">You can use letters, numbers &amp; periods</div> -->
                                </div>
                            </div>
                            <!--Full Name  -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-company">Họ và tên</label>
                                <div class="col-sm-10">
                                    <input type="text" name="full_name" class="form-control" id="basic-default-company"
                                           placeholder="ACME Inc.">
                                </div>
                            </div>
                            <!-- Phone Number -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-phone">Số Điện Thoại</label>
                                <div class="col-sm-10">
                                    <input type="text" name="phone_number" id="basic-default-phone"
                                           class="form-control phone-mask" placeholder="0123456789"
                                           aria-label="658 799 8941" aria-describedby="basic-default-phone">
                                </div>
                            </div>
                            <!-- Address -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-message">Địa Chỉ</label>
                                <div class="col-sm-10">
                                    <input type="text" name="address" id="basic-default-phone"
                                           class="form-control phone-mask" placeholder="VietNam"
                                           aria-label="658 799 8941" aria-describedby="basic-default-phone">
                                </div>
                            </div>
                            <!-- Gender -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-message">Giới Tính</label>
                                <div class="col-sm-10">
                                    <select id="defaultSelect" name="gender" class="form-select">

                                        <option value="0">Nam</option>
                                        <option value="1">Nữ</option>
                                        <option value="2">Khác</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Role -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-message">Vai Trò</label>
                                <div class="col-sm-10">
                                    <select id="defaultSelect" name="roleId" class="form-select">

                                        <option value="admin">Quản Lý</option>
                                        <option value="staff">Nhân Viên</option>
                                        <option value="shipper">Giao Hàng</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row justify-content-end">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- / Content -->

    <!-- Footer -->
    <!-- / Footer -->

    <!-- <div class="content-backdrop fade"></div> -->
</div>

<%- include("../partials/layout-bot") %>